@import default

$primary: #08415C
$accent: #388697
$secondary: #CC2936
$background: #DBF9B8

/* https://coolors.co/08415c-cc2936-ebbab9-388697-dbf9b8 */

body
	overflow: hidden
	font-size: 62.5%

#container
	width: 100vw
	height: 100vh
	background-color: $background

#header
	width: $twelve
	height: 15%
	background-color: $primary

#clock
	width: $four
	height: $two
	background-color: $accent
	margin: 10% auto
	color: $primary
	text-align: center

#time, #date
	font-size: 0.75em
	font-family: 'Lato', sans-serif;